<nav> 
    <ul>
    <li>
        <a href='/'> home<a>
    </li>
    <li>
        <a href='/Cliente'> cliente<a>
    </li>
    <li><a href='/producto'> producto<a></li>
    <li><a href='/rh'> rh<a></li>
        <li><a href='/crearCliente'> crear Cliente<a></li>
            <li><a href='/crearProducto'> crear Producto<a></li>
                <li><a href='/crearRh'> crear rh<a></li>        
    </ul>
    
    </nav>
    
    
    
    
    {% block content %}
        
    {% endblock  %}


    
    